/* CSS file is designed to folow the html file elements order, going from top to bottom */
/* General elements and tags  and media querys*/

/*Colors
#1572A1
#9AD0EC
#EFDAD7
#E3BEC6
#FFE162
#FF6464
#91C483
#EEEEEE
*/

body {
  font-size: 2.5em;
  text-align: center;
  padding: 0;
  background-color: #9AD0EC;
}

/* Title Row */
.titleCol {
  margin: 2vw;
}

.mainTitle {
  color: #1572A1;
  font-size: 8vw;
  font-family: 'DM Sans', sans-serif;
}

.sub {
  color: #1572A1;
  font-size: 5vw;
  font-family: 'DM Sans', sans-serif;
  margin: 4vw;
}

/* Images Row */
.img-colum {
  text-align: center;
  padding: 3vw;
}

.picture {
    max-width: 100%; /* or any custom size */
    max-height: 100%;
    object-fit: contain;
    margin: 1vw;
}

.vsContainer, .btnContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.versus, .player1, .player2 {
  color: #1572A1;
  font-family: 'Josefin Sans', sans-serif;
  margin: 1.5vw;
  font-size: 6vw;
}


/* Button Row */
.playBtn {
  margin: 4vw;
  font-family: 'DM Sans', sans-serif;
  font-size: 4vw;
  padding: 1.5vw;
}

.ship {
  margin: 0.8vw;
}

/* Footer Row */
.footer {
  margin: 2vw;
  background-color: #EEEEEE;
}

.myName {
  font-size: 0.5em;
  font-family: 'Rajdhani', sans-serif;
  margin: 1vw auto;
}

.cmcLink {
  text-decoration: none;
  font-size: 0.7em;
  font-family: 'Staatliches', cursive;
  color: #FF6464;
}
